<h1>Listing carts</h1>
<p>
<%= @current_cart %>

</p>
<table>
  <tr>
    <th>Name</th>
    
    <th colspan="3"></th>
  </tr>
 
  <% @carts.each do |cart| %>
    <tr>
      <td><%= cart.id %></td>
     
      
    </tr>
  <% end %>
  
</table>


